<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/vue.js"></script>
	<title>My First Page</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<ul class="navbar-header">
			<a href="#" class="navbar-brand">My First Page</a>
		</ul>
	</nav>
	<div class="container container-center jumbotron">
		<div class="col-sm-4 col-sm-offset-4">
			<div id="app" class="form-group">
				<p class="form-control" v-text="aaa"></p>
				<span>Input here: </span>
				<input v-model="aaa" class="form-control">
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				aaa: '',
			}
		})
	</script>
</body>
</html>